<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="../shuffle-for-tailwind.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="./style/style.css" />
    <script src="../js/main.js"></script>
  </head>
  <body>
    <section class="login">
      <div class="login_box">
        <div class="left">
          <div class="contact">
            <form action="#" id="loginForm" method="post">
              <h3>LOG IN</h3>
              <input type="text" id="username" placeholder="USERNAME" required />
              <input type="password" id="password" placeholder="PASSWORD" required />
              <button type="submit" class="submit">LET'S GO</button>
            </form>
          </div>
        </div>
        <div class="right">
          <div class="right-text">
            <h2>NILAI</h2>
            <h5>Hai Admin!!!!!</h5>
          </div>
          <div class="right-inductor"><img src="" alt="" /></div>
        </div>
      </div>
    </section>

    <script type="module" src="../js/tambahan/admin/login.js"></script>
  </body>
</html>
